{% extends 'layout_app.html.twig' %}
{% set topbar_title = 'Support tickets' %}
{% set user_name = 'Sam Worker' %}
{% block main %}
    <div class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-4">
            <h1 class="text-2xl font-bold text-[#000000]">Support tickets</h1>
            {% include 'components/_button.html.twig' with { label: 'New ticket', href: '#', variant: 'primary' } %}
        </div>
        <div class="rounded-xl border border-gray-200 bg-white shadow-sm">
            {% set headers = ['Subject', 'Status', 'Created', 'Actions'] %}
            {% set rows = [
                ['Payout delay', 'Open', '2 days ago', 'View'],
                ['Contract clarification', 'Closed', '1 week ago', 'View']
            ] %}
            {% include 'components/_table.html.twig' with { headers: headers, rows: rows } %}
            {% include 'components/_pagination.html.twig' with { current_page: 1, total_pages: 1, base_path: '?page=' } %}
        </div>
    </div>
{% endblock %}
