{% extends 'layout_admin.html.twig' %}

{% block title %}Select Service Request - Orion{% endblock %}

{% block main %}
<div class="space-y-6">
    {# ...rest of template from old project... #}
</div>
{% endblock %}
